<section class="contacts">
  <div class="container">
    <h2 hidden>Скрытый заголовок</h2>

    <div class="contacts-card">
      <ul class="contacts-list list">
        <li class="contacts-item">
          <div class="place-info">
            <span class="cafe">CAFE</span>
            <h2 class="place">Chicago</h2>
            <p class="place-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="schedule">
            <h2 class="date">Monday - Friday</h2>
            <p class="date-text">06:00 AM - 10:00 PM</p>

            <h2 class="date">Saturday - Sunday</h2>
            <p class="date-text">08:00 AM - 16:00 PM</p>
          </div>
          <div class="tel-wrapper">
            <a class="contacts-tel link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </div>
          <div class="email-wrapper">
            <a class="contacts-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </li>
      </ul>
    </div>

    <div class="contacts-card">
      <ul class="contacts-list list">
        <li class="contacts-item">
          <div class="place-info">
            <span class="foodtruck">FOODTRUCK</span>
            <h2 class="place">Los Angeles</h2>
            <p class="place-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="schedule">
            <h2 class="date">Monday - Friday</h2>
            <p class="date-text">06:00 AM - 10:00 PM</p>

            <h2 class="date">Saturday - Sunday</h2>
            <p class="date-text">08:00 AM - 16:00 PM</p>
          </div>
          <div class="tel-wrapper">
            <a class="contacts-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </div>
          <div class="email-wrapper">
            <a class="contacts-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </li>
      </ul>
    </div>

    <div class="contacts-card">
      <ul class="contacts-list list">
        <li class="contacts-item">
          <div class="place-info">
            <span class="cafe">CAFE</span>
            <h2 class="place">New York</h2>
            <p class="place-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
          </div>
          <div class="schedule">
            <h2 class="date">Monday - Friday</h2>
            <p class="date-text">06:00 AM - 10:00 PM</p>

            <h2 class="date">Saturday - Sunday</h2>
            <p class="date-text">08:00 AM - 16:00 PM</p>
          </div>
          <div class="tel-wrapper">
            <a class="contacts-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
          </div>
          <div class="email-wrapper">
            <a class="contacts-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
