<section class="contacts">
  <div class="container">
    <h2 hidden>Скрытый заголовок</h2>

    <ul class="contacts-list list">
      <li class="contacts-item list">
        <span class="cafe">CAFE</span>
        <div class="place-info">
          <h2 class="place">Chicago</h2>
          <p class="place-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="schedule">
          <h2 class="date">Monday - Friday</h2>
          <p class="date-text">06:00 AM - 10:00 PM</p>

          <h2 class="date">Saturday - Sunday</h2>
          <p class="date-text">08:00 AM - 16:00 PM</p>
        </div>
        <div class="tel-wrapper">
          <a class="contacts-tel link" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        </div>

        <div class="email-wrapper">
          <a class="contacts-email link" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts-item list">
        <span class="foodtruck">FOODTRUCK</span>
        <div class="place-info">
          <h2 class="place">Los Angeles</h2>
          <p class="place-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="schedule">
          <h2 class="date">Monday - Friday</h2>
          <p class="date-text">06:00 AM - 10:00 PM</p>

          <h2 class="date">Saturday - Sunday</h2>
          <p class="date-text">08:00 AM - 16:00 PM</p>
        </div>
        <div class="tel-wrapper">
          <a class="contacts-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        </div>

        <div class="email-wrapper">
          <a class="contacts-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>

      <li class="contacts-item list">
        <span class="cafe">CAFE</span>
        <div class="place-info">
          <h2 class="place">New York</h2>
          <p class="place-text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
        </div>
        <div class="schedule">
          <h2 class="date">Monday - Friday</h2>
          <p class="date-text">06:00 AM - 10:00 PM</p>

          <h2 class="date">Saturday - Sunday</h2>
          <p class="date-text">08:00 AM - 16:00 PM</p>
        </div>
        <div class="tel-wrapper">
          <a class="contacts-tel" href="tel:+61(0)383766284">+61(0) 383 766 284</a>
        </div>
        <div class="email-wrapper">
          <a class="contacts-email" href="mailto:noreply@envato.com">noreply@envato.com</a>
        </div>
      </li>
    </ul>

    <div class="buttons">
      <div class="locations">
        <button class="btn-our-locations" type="button" data-modal-open>
          Our Locations
          <span class="arrow-icon">
            <svg class="icon-arrow-white" width="10" height="10">
              <use href="./images/sprite.svg#icon-arrow-white"></use>
            </svg>
          </span>
        </button>
      </div>
      <div class="franchise">
        <button class="btn-franchise" type="button" data-modal-open>
          Franchise
          <span class="arrow-icon">
            <svg class="icon-arrow-red" width="10" height="10">
              <use href="./images/sprite.svg#icon-arrow-red"></use>
            </svg>
          </span>
        </button>
      </div>
    </div>
  </div>
</section>
