<section class="customer-reviews">
  <div class="container">
    <div class="swiper reviewsSwiper">
      <ul class="customer-reviews__list list swiper-wrapper">
        <li class="customer-reviews__item swiper-slide">
          <div class="customer-reviews__image-wrapper">
            <img class="customer-reviews__image" 
                 src="../src/images/customer/emily.png" 
                 srcset="../src/images/customer/emily@2x.png" 
                 alt="customer-emily"/>
          </div>
          <div class="customer-reviews__text-wrapper">
            <div class="castomer-reviews__text-thumb">
              <p class="customer-reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="customer-reviews__title">Emily, Los Angeles</h3>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <div class="customer-reviews__image-wrapper">
            <img class="customer-reviews__image" 
                 src="../src/images/customer/sarah.png" 
                 srcset="../src/images/customer/sarah@2x.png" 
                 alt="customer-sarah"/>
          </div>
          <div class="customer-reviews__text-wrapper">
            <div class="castomer-reviews__text-thumb">
              <p class="customer-reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="customer-reviews__title">Sarah, Chicago</h3>
        </li>
        <li class="customer-reviews__item swiper-slide">
          <div class="customer-reviews__image-wrapper">
            <img class="customer-reviews__image" 
                 src="../src/images/customer/samantha.png" 
                 srcset="../src/images/customer/samantha@2x.png" 
                 alt="customer-samantha"/>
          </div>
          <div class="customer-reviews__text-wrapper">
            <div class="castomer-reviews__text-thumb">
              <p class="customer-reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In
                hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
              </p>
            </div>
          </div>
          <h3 class="customer-reviews__title">Samantha, New York</h3>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>