<section class="layout">
  <div class="layout__image-blog">
    <img src="./images/blog-picture.jpg" alt="" />
  </div>
  <div class="container blog-container">
    <div class="blog">
      <input class="select__item" type="radio" name="slider" id="select__item-1" checked />
      <input class="select__item" type="radio" name="slider" id="select__item-2" />
      <input class="select__item" type="radio" name="slider" id="select__item-3" />
      <div class="controls">
        <label class="control__item-main" for="select__item-1"></label>
        <label class="control__item item-2" for="select__item-2"></label>
        <label class="control__item item-3" for="select__item-3"></label>
      </div>
    </div>
  </div>
</section>
