<div class="section footer">
    <div class="container footer-flex-box">
            <div class="footer-box">
                <p class="footer-title-text">homemade ice cream made</p>

                <p class="footer-text">with passion</p>
            </div>

            <div class="footer-box">
                <ul class="socials__list list">
                    <li class="socials__item">
                        <a class="socials__link link" href="https://github.com/"
                        target="_blank"
                                rel="noopener noreferrer">
                            <svg class="socials__icon_team-color">
                                <use></use>
                            </svg>
                        </a>
                    </li>

                    <li class="socials__item ">
                        <a class="socials__link link" href="https://web.telegram.org/" target="_blank">
                            <svg class="socials__icon_team-color">
                                <use></use>
                            </svg>
                        </a>
                    </li>

                    <li class="socials__item">
                        <a class="socials__link link" href="https://www.facebook.com/"                                 rel="noopener noreferrer">
                            <svg class="socials__icon_team-color">
                                <use></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <p class="footer-phone-text">Feel free to contact <a class="footer-phone-text_color link" href="tel:+610383766284" > +61 (0) 383 766 284</a></p>
            </div>
    </div>  
</div>
<div class="copyrights">
    <div class="container">
        <p class="footer-bottom-text"> &copy 2019 - IceCream. All Rights Reserved.</p>
    </div>
</div>
