<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <div class="header_wrapper">
        <h1 class="header_title">
          <span class="header_color"
            >ICE CREAM <br />
            MADE WITH </span
          ><br />
          <span class="header_color--red"> PASSION</span>
        </h1>
        <div class="header_buttons">
          <button type="button" class="secondary-button">Products</button>
          <button type="button" class="secondary-button primary">How it’s made?</button>
        </div>
      </div>
      <div>
        <img
          class="header_img-ellipse"
          srcset="../src/images/header/Ellipse.png 1x, ../src/images/header/Ellipse@2x.png 2x"
          src="../src/images/header/Ellipse.png"
          alt="Ellipse"
        />
      </div>
      <div>
        <img
          class="header_img-ice-cream"
          srcset="
            ../src/images/header/big-ice-cream.png    1x,
            ../src/images/header/big-ice-cream@2x.png 2x
          "
          src="../src/images/header/big-ice-cream.png "
          alt="ice-cream"
        />
      </div>
      <img
        class="header_img-milk"
        srcset="
          ../src/images/header/milk-in-containers.png    1x,
          ../src/images/header/milk-in-containers@2x.png 2x
        "
        src="../src/images/header/milk-in-containers.png  
         "
        alt="milk"
      />
      <div>
        <img
          class="header_img-woman"
          srcset="
            ../src/images/header/woman-with-ice-cream.png    1x,
            ../src/images/header/woman-with-ice-cream@2x.png
          "
          src="../src/images/header/woman-with-ice-cream.png"
          alt="woman"
        />
      </div>
    </header>
  </body>
</html>
