<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header class="header">
      <h1>
        <span class="header_color"
          >ICE CREAM <br />
          MADE WITH </span
        ><br />
        <span class="header_color--red"> PASSION</span>
      </h1>
      <div class="header_buttons">
        <button type="button" class="secondary-button">Products</button>
        <button type="button" class="secondary-button primary">How it’s made?</button>
      </div>
      <div>
          
      </div>
    </header>
  </body>
</html>
