    <section class="hero">
      <div class="hero_wrapper">
        <ul class="hero_list">
          <li class="hero_item">
            <div class="hero_block">
              <h2 class="hero_text">
                16 <br />
                <span class="hero_span"> cafes</span>
              </h2>
              <img
                class="hero_img-sphere"
                srcset="
                  ../src/images/hero/Ellipse-mini.png    1x,
                  ../src/images/hero/Ellipse-mini@2x.png 2x
                "
                src="../src/images/hero/Ellipse-mini.png "
                alt="Ellipse-mini"
              />
            </div>
          </li>
          <li class="hero_item secondary-item">
            <div class="hero_block">
              <img
                class="hero_img-sphere two"
                srcset="
                  ../src/images/hero/Ellipse-mini.png    1x,
                  ../src/images/hero/Ellipse-mini@2x.png 2x
                "
                src="../src/images/hero/Ellipse-mini.png "
                alt="Ellipse-mini"
              />
              <h2 class="hero_text">
                <span class="hero_paragraph"> 23</span> <br />
                <span class="hero_span secondary-span">food trucks</span>
              </h2>
            </div>
          </li>
        </ul>
        <div class="hero_primary-text">
          <h1 class="hero_title">
            <span class="hero_color"
              >ICE CREAM <br />
              MADE WITH </span
            ><br />
            <span class="hero_color--red"> PASSION</span>
          </h1>
          <div class="hero_buttons">
            <ul class="hero_buttons-list">
              <li class="hero_buttons-item">
                <a class="secondary-button" href="#products">Products</a>
              </li>
              <li class="hero_buttons-item">
                <a class="secondary-button primary" href="#about">How it’s made?</a>
              </li>
            </ul>
          </div>
        </div>
        <!-- <div class="hero_buttons">
          <button type="button" class="secondary-button">Products</button>
          <button type="button" class="secondary-button primary">How it’s made?</button>
        </div> -->

        <div class="hero_main-img">
          <div class="hero_ice-cream">
            <img
              class="hero_img-ellipse"
              srcset="../src/images/hero/Ellipse.png 1x, ../src/images/hero/Ellipse@2x.png 2x"
              src="../src/images/hero/Ellipse.png"
              alt="Ellipse"
            />

            <img
              class="hero_img-ice-cream"
              srcset="
                ../src/images/hero/big-ice-cream.png    1x,
                ../src/images/hero/big-ice-cream@2x.png 2x
              "
              src="../src/images/hero/big-ice-cream.png "
              alt="ice-cream"
            />
            <!-- <picture>
              <source
                srcset="
                  ../src/images/hero/big-ice-cream.png 1x,
                  ../src/images/hero/big-ice-cream.png 2x
                "
                media="(min-width:1200px )"
              />
              <source
                srcset="
                  ../src/images/hero/ice-cream-tablet.png   1x,
                  ../src/images/hero/ice-cream-tablet@2.png 2x
                "
                media="(min-width:768px )"
              />
              <source
                srcset="
                  ../src/images/hero/ice-cream-mobile.png   1x,
                  ../src/images/hero/ice-cream-mobile@2.png 2x
                "
                media="(min-width:320px )"
              />
              <img src="../images/hero/ice-cream-mobile.png" alt="icecream" />
            </picture> -->
          </div>
        </div>
        <img
          class="hero_img-milk"
          srcset="
            ../src/images/hero/milk-in-containers.png    1x,
            ../src/images/hero/milk-in-containers@2x.png 2x
          "
          src="../src/images/hero/milk-in-containers.png  
         "
          alt="milk"
        />
        <!-- <div class="hero_img-arrow " > -->
        <p class="hero_milk-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
        <!-- <img
          class="hero_img-arrow"
          srcset="../src/images/hero/arrow.png 1x, ../src/images/hero/arrow@2x.png 2x"
          src="../src/images/hero/arrow.png  "
          alt="arrow"
        /> -->
        <div class="hero_svg">
          <svg class="hero_svg-arrow" width="15px" height="15px">
            <use href="../src/images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
        <div>
          <img
            class="hero_img-woman"
            srcset="
              ../src/images/hero/woman-with-ice-cream.png    1x,
              ../src/images/hero/woman-with-ice-cream@2x.png 2x
            "
            src="../src/images/hero/woman-with-ice-cream.png"
            alt="woman"
          />
        </div>
      </div>
    </section>
