    <section class="hero"  id="hero" >
      <div class="hero_wrapper">
        <ul class="hero_list">
          <li class="hero_item">
            <div class="hero_block">
              <div class="hero_block">
                <img
                  class="hero_img-sphere "
                  srcset="
                  ../src/images/hero/sphere-desktop.png  1x,
                  ../src/images/hero/sphere-desktop@2x.png  2x
                  "
                  src="../src/images/hero/sphere-desktop.png "
                  alt="Ellipse-mini"
                />
              <h2 class="hero_text">
                16 <br />
                <span class="hero_span"> cafes</span>
              </h2>
             
            </div>
          </li>
          <li class="hero_item secondary-item">
            <div class="hero_block">
              <img
                class="hero_img-sphere two"
                srcset="
                ../src/images/hero/sphere-desktop.png  1x,
                ../src/images/hero/sphere-desktop@2x.png  2x
                "
                src="../src/images/hero/sphere-desktop.png "
                alt="Ellipse-mini"
              />
              <h2 class="hero_text">
                <span class="hero_paragraph"> 23</span> <br />
                <span class="hero_span secondary-span">food</span> 
                <span class="hero_span secondary-spantrucks">trucks</span> 
              </h2>
            </div>
          </li>
        </ul>
        <div class="hero_primary-text">
          <h1 class="hero_title">
            <a href="" class="hero_color"  >  
              <span class="span-space"> <span>I</span> <span>C</span>  <span>E</span> </span>       <span>C</span> <span>R</span> <span>E</span> <span>A</span> <span>M </span> <br />
             </a> 
             
             <a href="" class="hero_color"> <span class="span-space"> <span>M</span> <span>A</span>  <span>D</span> <span>E</span> </span> <span>W</span>  <span>I</span>  <span>T</span> <span>H</span>   </a>
             
           <br />
           <!-- <a href="" class="hero_color--red "> <span class="span-P" >P</span> <span class="span-A" >A</span> <span class="span-S">S</span> <span class="span-S">S</span> <span class="span-I">I</span> <span class="span-O" >O</span> <span class="span-N">N</span></a> -->
            <span class="hero_color--red"> PASSION</span>
          </h1>
          <div class="hero_buttons">
            <ul class="hero_buttons-list">
              <li class="hero_buttons-item">
                <a class="secondary-button" href="#products">Products</a>
              </li>
              <li class="hero_buttons-item">
                <a class="secondary-button primary" href="#about-us">How it’s made?</a>
              </li>
            </ul>
          </div>
        </div>
   

        <div class="hero_main-img">
          <div class="hero_ice-cream">
            <picture class="hero_img-ellipse">
              <source
                media="(min-width:1200px )"
                srcset="
                  ../src/images/hero/Ellipse-desktop.png    1x,
                  ../src/images/hero/Ellipse-desktop@2x.png 2x
                "
              />
              <source
                media="(min-width:768px )"
                srcset="
                  ../src/images/hero/Ellipse-tablet.png    1x,
                  ../src/images/hero/Ellipse-tablet@2x.png 2x
                "
              />
              <source
                media="(min-width:320px )"
                srcset="
                  ../src/images/hero/Ellipse-tablet.png    1x,
                  ../src/images/hero/Ellipse-tablet@2x.png 2x
                "
              />
              <img src="../src/images/hero/Ellipse-desktop.png" alt="Ellipse" />
            </picture>

          
            <picture class="hero_img-ice-cream">
              <source
                srcset="
                  ../src/images/hero/ice-cream-dekstop.png    1x,
                  ../src/images/hero/ice-cream-dekstop@2x.png 2x
                "
                media="(min-width:1200px )"
              />
              <source
                srcset="
                  ../src/images/hero/ice-cream-tablet.png    1x,
                  ../src/images/hero/ice-cream-tablet@2x.png 2x
                "
                media="(min-width:768px )"
              />
              <source
                srcset="
                  ../src/images/hero/ice-cream-mobile.png    1x,
                  ../src/images/hero/ice-cream-mobile@2x.png 2x
                "
                media="(min-width:320px )"
              />
              <img src="../src/images/hero/ice-cream-mobile.png " alt="icecream" />
            </picture>
          </div>
        </div>

        <picture class="hero_img-milk">
          <source
            srcset="
              ../src/images/hero/milk-dekstop.png    1x,
              ../src/images/hero/milk-dekstop@2x.png 2x
            "
            media="(min-width:1200px )"
          />
          <source
            srcset="../src/images/hero/milk-tablet.png 1x, ../src/images/hero/milk-tablet@2x.png 2x"
            media="(min-width:768px )"
          />
          <img src="../src/images/hero/milk-tablet.png  " alt="milk" />
        </picture>

        <p class="hero_milk-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et
        </p>
     
        <div class="hero_svg">
          <svg class="hero_svg-arrow" width="15px" height="15px">
            <use href="../src/images/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
        <div>
          <picture class="hero_img-woman">
            <source
              media="(min-width:1200px )"
              srcset="
                ../src/images/hero/girl-dekstop.png    1x,
                ../src/images/hero/girl-dekstop@2x.png 2x
              "
            />
            <source
              media="(min-width:768px )"
              srcset="
                ../src/images/hero/girl-tablet.png    1x,
                ../src/images/hero/girl-tablet@2x.png 2x
              "
            />
            <img src="../src/images/hero/girl-tablet.png " alt="girl" />
          </picture>
        </div>
      </div>
    </section>
