.gallery {
  background-image: linear-gradient(
    to bottom,
    $bgc-section-pink 40%,
    $bgc-section-white 30%,
    $bgc-section-white 30%
  );
  background-repeat: no-repeat;
  height: auto;
  width: 100%;
}

.gallery__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__item {
  @media screen and (max-width: 767px) {
    margin-right: 3px;
  }

  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.gallery_thumb {
  @media screen and (max-width: 767px) {
    padding-top: 13px;
  }

  padding-top: 46px;
}

.gallery__picture {
  display: block;
  position: relative;
  margin-bottom: 6px;

  @media screen and (min-width: 1200px) {
    &:hover {
      z-index: 1;
      animation: viewScaleMod 1000ms linear alternate;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

@keyframes viewScaleMod {
  0% {
    transform: scale(1);
  }

  20% {
    transform: scale(1.15) perspective(400px) rotateX(30deg) translate(-20px, -40px);
  }

  85% {
    transform: scale(1.22) perspective(400px) rotateY(-30deg) translate(20px, 40px);
  }

  100% {
    transform: scale(1) perspective(400px);
  }
}
