.gallery {
  background-image: linear-gradient(
    to bottom,
    $bgc-section-pink 40%,
    $bgc-section-white 30%,
    $bgc-section-white 30%
  );
}

.gallery__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__item {
  margin-right: 6px;

  &:last-child {
    margin-right: 0;
  }
}

.gallery__picture {
  display: block;
  margin-bottom: 6px;

  &:last-child {
    margin-bottom: 0;
  }
}
